
QUMS_QID=
QUMS_PASSWORD=
QUMS_LOGIN_URL=https://qums.quantumuniversity.edu.in/
QUMS_DASHBOARD_URL=https://qums.quantumuniversity.edu.in/Web_StudentAcademic/Cyborg_S_Dashboard
QUMS_TIMETABLE_URL=https://qums.quantumuniversity.edu.in/Web_StudentAcademic/Cyborg_StudentTimeTable?id=Time%20Table


ATTENDANCE_TOTAL_CLASSES=40


#QUMS_CURRENT_YEARSEM=5

PORT=3000


APP_BASE_URL=http://localhost:3000

WATCH_INTERVAL_MINUTES=2

MONTH_REGISTER_INTERVAL_MINUTES=5

TELEGRAM_BOT_TOKEN=

ENCRYPTION_KEY=
SESSION_SECRET=
RESEND_API_KEY=
